@use "../utils" as *;

/*----------------------------------------*/
/*  FOOTER CSS START
/*----------------------------------------*/

.footer {
  &__top {
    position: relative;
    z-index: 1;
    padding: 0px;
    @media (min-width: 570px) {
        padding-top: 30px;
    }
    @media (min-width: 768px) {
        padding: 0px;
    }
    .footer_top__shape {
      position: absolute;
      width: 18%;
      top: 0px;
      left: 50%;
      z-index: -1;
      @media (min-width: 768px) {
        left: 2%;
      }
      img {
        width: 100%;
      }
    }
    > div{
      .col-10{
        &:nth-child(3),&:nth-child(4){
          .footer__widget{
            margin-bottom: 40px;
            @media (min-width: 580px){
              margin-bottom: 0px;
            }
          }
        }
        &:nth-child(4){
          .footer__widget{
            margin-bottom: 40px;
            @media (min-width: 580px){
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  &__widget {
    .logo {
      margin-bottom: 10px;
      a {
        display: block;
      }
      @media (min-width: 1200px) {
        margin-bottom: 30px;
      }
      & img {
        width: calc(100% - 145px);
        @media (min-width: 480px){
          width: calc(100% - 130px);
        }
        @media (min-width: 574px){
          width: calc(100% - 80px);
        }
        @media (min-width: 767px){
          width: calc(100% - 150px);
        }
        @media (min-width: 992px) {
          width: 150px;
        }
      }
    }
    &__title {
      color: var(--cl-color-black);
      font-size: 18px;
      margin-bottom: 20px;

      @media (min-width: 1200px) {
        font-size: 22px;
        margin-bottom: 49px;
      }
    }
    &__text {
      margin-bottom: 30px;
    }
    &__social-links {
      display: flex;
      column-gap: 16px;
      & li {
        list-style: none;
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        &:hover {
          background-color: var(--cl-color-white);

          i {
            color: var(--cl-color-primary);
          }
        }
        & i {
          font-size: 14px;
          color: var(--cl-color-grey-1);
        }
        a{
          height: 41px;
          width: 41px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &--style-2,&--style-3{
        & li {
          &:hover {
            background-color: var(--cl-color-primary);
  
            i {
              color: var(--cl-color-white);
            }
          }
          a{
            height: 52px;
            width: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    &__menu {
      padding: 0;
      margin: 0;
      & li {
        position: relative;
        list-style: none;
        display: flex;
        align-items: start;
        &:last-child {
          margin: 0;
        }

        & a {
          color: var(--cl-color-grey-1);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          list-style: none;
          @media (min-width: 1200px) {
            font-size: 16px;
          }
          &:hover {
            color: var(--cl-color-primary);
          }
        }
      }
      &--with-line {
        & li {
          padding-left: 25px;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            height: 2px;
            width: 10px;
            background-color: var(--cl-color-white);
          }
        }
      }
      &--style-3,&--style-2{
        & li{
          margin-bottom: 15px;
          @media screen and (min-width: 1200px){
            margin-bottom: 20px;
          }
        }
      }
    }
    &__about {
      max-width: 330px;
    }
    &__newsletter{
      .form-control{
        margin-bottom: 10px;
        border-radius: 8px;
        height: 45px;
        transition: all 0.3s ease-in-out;
        border: 0;
        &:focus,
        &:focus-visible{
          outline: 1px solid var(--cl-color-primary);
          border-color: inherit;
          box-shadow: inherit;
      }
        @include breakpoint(medium){
          height: 60px;
        }
        @media screen and (min-width:1400px){
          max-width: 340px;
        }
      }
      .cl-btn{
        padding: 22px 40px;
        height: 55px;
        border-radius: 8px !important;
        width: 100%;
        height: 35px;
        @include breakpoint(medium){
          height: 55px;
        }
        @media screen and (min-width: 767px){
          width: 190px;
        }
      }
    }
    &__contact {
      & li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        @media screen and (min-width:992px){
          margin-bottom: 17px;
        }
        & i {
          height: 35px;
          width: 35px;
          flex: 0 0 35px;
          background-color: rgba(255, 255, 255, 0.10);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          border-radius: 100%;
          color: var(--cl-color-grey-1);
        }
        & a {
          list-style: none;
          font-family: 'Roboto';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.10);
          &:hover {
            color: var(--cl-color-primary);
          }
        }
        & p {
          margin-bottom: 0;
          line-height: 1.4;
        }
      }
    }
  }
  /* Footer Area */ 
  &__area {
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom:15px; 
    @media screen and (min-width: 767px){
      padding-top: 60px;
      padding-bottom:20px;
    }
    @media screen and (min-width: 1200px){
      padding-bottom:120px;
      padding-top: 120px;
    }
    &__contact {
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
      margin-bottom: 30px;
      @media screen and (min-width: 767px){
        margin-bottom:40px;
      }
      @media screen and (min-width:992px){
        margin-bottom: 60px;
        padding: 0;
        width: 100%;
      }
      @media screen and (min-width: 1200px){
        margin-bottom: 100px;
      }
    }
    /*==== Footer Style 2  ====*/
  
    &--dark-mode {
      background-color: var(--cl-color-english-holly);

      .footer__widget {
        margin-bottom: 30px;
        color: var(--cl-color-white);
        @media screen and (min-width:574px){
          margin-bottom: 40px;
        }
        @media screen and (min-width:767px){
          margin-bottom: 40px;
        }
        @media screen and (min-width:992px){
          margin-bottom:0px;
        }
        @media screen and (min-width: 1200px){
          margin-bottom:0px;
        }
        &__title {
          color: var(--cl-color-white);
        }
        p,
        a {
          color: var(--cl-color-white);
        }
        &--style-2,&--style-3{
          padding-right: 0px;
          @media screen and (min-width: 1200px){
            padding-right: 80px;
          }
        }
      }
      > div{
        .col-10{
          &:nth-child(3){
            .footer__widget{
              margin-bottom: 40px;
              @media (min-width: 580px){
                margin-bottom: 0px;
              }
            }
          }
          &:nth-child(4){
            .footer__widget{
              margin-bottom: 0px;
              @media (min-width: 580px){
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
  /* copyright style */
  &__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    &__content {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      padding-top: 0;
      padding-bottom: 0;
      row-gap:10px;
      text-align: start;
      @media screen and (min-width: 480px){
        text-align: center;
        justify-content: center;
      }
      @media screen and (min-width:1200px){
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
      }
    }
    &__year {
      text-align: center;
      color: var(--cl-color-white);
      margin: 0;
      @include font-size(14px, 16px, 16px);
      span{
        a{
          color: var(--cl-color-secondary);
          transition:all .3s ease-in-out;
          &:hover{
            color: var(--cl-color-white);
          }
        }
      }
      @media (max-width: 767px) {
        margin: 0;
      }
    }
    &__menu {
        color: var(--cl-color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        padding: 0;
        margin: 0;
        @media screen and (min-width:480px){
          display: inline-flex;
          align-items: center;
          flex-direction: row;
        }
        li{
          margin-left: 0px;
          padding-left: 0px;
          list-style: none;
          position: relative;
          z-index: 1;
          a {
            color: var(--cl-color-white);
            transition: 0.4s;
            &:hover {
              color: var(--cl-color-secondary);
            }
          }
          &::before{
            content: "";
            width: 5px;
            height: 2px;
            background-color: var(--cl-color-white);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%);
            display: none;
          }
          @media screen and (min-width: 441px){
            margin-left: 15px;
            padding-left: 10px;
            &::before{
              display: block;
            }
          }
          @media screen and (min-width: 480px){
            &:first-child{
              &::before{
                display: none;
              }
            }
          }
        }
        &--right{
          text-align: right;
          li{
            a{
              padding-left: 10px;
            }
          }
        }
    }
    & span {
      color: var(--cl-color-secondary);
      transition: 0.4s;
      &:hover{
        color: var(--cl-color-white);
      }
    }
    &--dark-mode {
      background-color: var(--cl-color-bottle-green-3);
      padding: 34px;
      line-height: 32px;
      border-radius: 10px;
    }
    &--style-1{
      background-color: var(--cl-color-primary);
    }
  
  }
   /* === Footer Style 2 And Style 3 === */
  &--style-2,&--style-3 {
    .footer__widget {
      &__title {
        font-size: 18px;
      }
    }
    .footer__area{
      padding-top: 0;
      padding-bottom: 20px;
      background-color: transparent !important;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (min-width: 1200px){
        padding-bottom:100px;
      }
      &__contact {
        &.cl-icon-box {
          overflow: hidden;
          > div {
            .col-12 {
              min-height: 100%;
              &:nth-child(1) {
                .cl-icon-box__single {
                  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
                  @media (min-width: 576px) {
                    border-bottom: none;
                  }
                }
              }
  
              &:nth-child(2) {
                .cl-icon-box__single {
                  @media (min-width: 576px) {
                    justify-content: flex-end;
                    box-sizing: border-box;
                  }
                }
                @media (min-width: 992px) {
                  .cl-icon-box__single {
                    display: inline-flex;
                    justify-content: center;
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    &::after {
                      content: "";
                      width: 0.5px;
                      height: 150%;
                      background-color: rgba(255, 255, 255, 0.5);
                      position: absolute;
                      right: 0;
                      top: -10%;
                    }
                  }
                }
              }
              &:nth-child(3) {
                .cl-icon-box__single {
                  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
                  @media (min-width: 576px) {
                    border-top: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer__copyright{
      padding-bottom: 0;
      &__content {
        background-color: rgba(255, 255, 255,0.10);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 30px 47px 20px 47px;
        a{
          color: var(--cl-color-primary);
        }
      }
      &__menu{
        a{
          color: var(--cl-color-white);
        }
      }
    }
  }
  /* === Style 2 And Style 3 === */
  &--style-3,&--style-2 {
    .footer__copyright{
      padding-bottom: 0;
      &__content {
        background-color: rgba(255, 255, 255,0.10);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 30px 47px 20px 47px;
        a{
          color: var(--cl-color-primary);
        }
      }
      &__menu{
        a{
          color: var(--cl-color-white);
          @include font-size(14px, 16px, 16px);
          &:hover{
            color: var(--cl-color-primary);
          }
        }
      }
    }
  }
}