/*----------------------------------------*/
/* NEWS TICKER CSS START
/*----------------------------------------*/
.news-ticker{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            list-style: none;
            position: relative;
            z-index: 1;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 60px;
            padding-right: 60px;
            a{
                text-transform: uppercase;
            }
            &::before{
                content: "";
                background-image: url(../../assets/images/png/home-2/news-ticker-icon.png);
                width: 20px;
                height: 20px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}