/*----------------------------------------*/
/*  CTA AREA CSS START
/*----------------------------------------*/
.cl-cta-section{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px){
        padding-top: 80px;
        padding-bottom:80px;
    }
    @media screen and (min-width: 1200px){
        padding-top:120px;
        padding-bottom:120px;
    }
    &__wrapper{
        text-align: center;
        @media screen and (min-width: 768px){
            text-align: initial;
        }
    }
    &__span-color{
        color: var(--cl-color-secondary);
        font-weight: 500;
        text-decoration-line: underline;
        &:hover{
            color: var(--cl-color-primary);
        }
    }
    &__text{
        max-width: 511px;
    }
}

