@use '../utils' as *;

/*----------------------------------------*/
/*  OFFCANVAS CSS START
/*----------------------------------------*/
/* sidebar */
.offcanvas{
    &__area{
        @media #{$xs}{
            width: 290px;
        }

        & .modal.show .modal-dialog{
            transform: none !important;
            background-color: var(--cl-color-primary);
        }
        & .modal.fade .modal-dialog{
            transition:transform .3s ease-out;
            transform:translate(100px,0px);
        }
        & .modal-dialog{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            margin: 0;
            background: var(--cl-color-white);
        }
        & .modal-content{
            border: 0;
            border-radius: 0;
            background-color: transparent;
        }
    }
    &__wrapper{
        position: relative;
        padding: 45px;
        background-color: var(--cl-color-primary);
        @media #{$xs}{
           padding: 20px;
        }
    }
    &__close{
        &-btn{
            display: inline-block;
            font-size: 16px;
            height: 45px;
            width: 45px;
            line-height: 46px;
            background: var(--cl-color-jewel);
            color: var(--cl-color-white);
            border-radius: 50%;
            &:hover{
                background: var(--cl-color-black);
            }
        }
    }
    &__top{
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc3;
    }
    &__logo{
        max-width: 160px;
    }
    &__search{
        position: relative;
        margin-bottom: 14px;
        @media screen and (min-width: 768px){
            margin-bottom: 16px;
        }
        @media screen and (min-width: 992px){
            margin-bottom: 18px;
        }
        & input{
            width: 100%;
            height: 40px;
            padding-right: 20px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc3;
            font-size: 14px;
            &::placeholder{
                color: var(--cl-color-white);;
            }
            &:focus{
                border-color: var(--cl-color-secondary);
            }
        }
        input[type="text"] {
            color:var(--cl-color-white);
        }
        input::placeholder{
            color: var(--cl-color-grey-1);
        }
        & button{
            position: absolute;
            top: 50%;
            right: 0;
            @include transform(translateY(-50%));
            font-size: 14px;
            color: var(--cl-color-white);
            & i{
                transition: all .3s ease-in-out;
                &:hover{
                    color: var(--cl-color-secondary);
                }
            }
        }
    }
    &__text{
        & p{
            margin-bottom: 25px;
            color: var(--cl-color-white);
        }
    }
    &__contact{
        & h4{
            margin-bottom: 20px;
            color: var(--cl-color-white);
            @include font-size(16px, 18px, 22px);
        }
        & ul{
            & li{
                margin-bottom: 10px;
                    @media screen and (min-width: 1200px){
                        margin-bottom: 20px;
                    }
                &:last-child{
                    margin-bottom: 0px;
                }
                &:hover{
                    & i{
                        background: var(--cl-color-bottle-green);
                        color: var(--cl-color-white);
                        border-color: var(--cl-color-primary);
                    }
                    & a{
                        color: var(--cl-color-black);
                    }
                }
            }
        }
        &-icon{
            & i{
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc4;
                @include border-radius(7px);
                color: var(--cl-color-white);
                transition: all .3s ease-in-out;
            }
        }
        &-text{
            & a{
                font-size: 18px;
                font-weight: 500;
                color: var(--cl-color-white);
                @media screen and (min-width: 1200px){
                    color: rgba(255, 255, 255, 0.10);
                }
            }
        }
    }
    &__map{
        & iframe{
            width: 100%;
            height: 200px;
            border: none;
        }
    }
    &__social{
        & ul{
            & li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 5px;
                }
                & a{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 42px;
                    text-align: center;
                    background: var(--cl-color-grey-1);
                    color: var(--cl-color-primary);
                    @include border-radius(5px);
                    &:hover{
                        background: var(--cl-color-bottle-green);
                        color: var(--cl-color-white);
                    }
                }
            }
        }
    }
}
