@use "../utils" as *;
/*----------------------------------------*/
/* Gallery Style
/*----------------------------------------*/

.gallery_block{
    .gallery-card{
        position: relative;
        z-index: 1;
        margin-bottom: 24px;
        width: 100%;
        height: 220px;
        border-radius: 8px;
        overflow: hidden;
        @include breakpoint(medium){
            height: 320px;
        }
        @include breakpoint(large){
            height: 420px;
        }

        &__image{
            border-radius: 8px;
            width: 100%;
            height: 100%;
            display: block;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__search-icon{
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: all .3s ease-in-out;
            z-index: 1;
            background-color: var(--cl-color-primary);
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            i{
                font-size: 20px;
                opacity: 1;
            }
    
        }
        &:hover{
            .gallery-card__search-icon{
                opacity: 0.9;
                visibility: visible;
                i{
                    opacity: 1;
                }
            }
        }
    }
}